extends ../index.pug

block variables
    - var template = 'home'

block content
    .home
        if isDesktop
            h1.home__welcome Welcome Home (on Desktop)
        else if isTablet 
            h1.home__welcome Welcome Home (on Tablet) 
        else if isPhone 
            h1.home__welcome Welcome Home (on Phone)   
        a.home__youtube__channel__link(href='https://www.youtube.com/channel/UCRy8-Ju28H8VMRf2yWioGUg' target='_blank')
            img.home__subscribe__image(alt='Subscribe to my channel' src='images/Subscribe.png')